<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SanFranciscoDisplay-Black</string>
		<string>SanFranciscoDisplay-Bold</string>
		<string>SanFranciscoText-Regular</string>
		<string>SanFranciscoDisplay-Light</string>
		<string>SanFranciscoDisplay-Medium</string>
		<string>SanFranciscoDisplay-Regular</string>
		<string>SanFranciscoDisplay-Semibold</string>
		<string>SanFranciscoDisplay-Thin</string>
		<string>SanFranciscoDisplay-Ultralight</string>
		<string>SanFranciscoText-Bold</string>
		<string>SanFranciscoText-BoldItalic</string>
		<string>SanFranciscoText-Heavy</string>
		<string>SanFranciscoText-HeavyItalic</string>
		<string>SanFranciscoText-Light</string>
		<string>SanFranciscoText-LightItalic</string>
		<string>SanFranciscoText-Medium</string>
		<string>SanFranciscoText-MediumItalic</string>
		<string>SanFranciscoText-Regular</string>
		<string>SanFranciscoText-RegularItalic</string>
		<string>SanFranciscoText-Semibold</string>
		<string>SanFranciscoText-SemiboldItalic</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
